.produtos {
    .container-paes {
    display: grid;
    /* Cria 3 colunas, cada uma com 1 fração do espaço total (fr) */
    grid-template-columns: 1fr 1fr 1fr; 
    
    /* Cria um espaço de 20px entre cada item */
    gap: 20px;
}
}

.nossos_paes {
    background: #fdfaf5;
    border-radius: 15px;
    overflow: hidden; /* Garante que a imagem não saia das bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.nossos_paes:hover {
    transform: translateY(-10px); /* Efeito de flutuar ao passar o mouse */
}

.nossos_paes img {
    width: 50%;
    max-width: 400px; /* Ajuste esse valor conforme o que você considera "metade" ideal */
    height: auto;
}

.info-pao {
    padding: 20px;
}

.info-pao h3 {
    color: #5D4037;
    margin: 0 0 10px 0;
}

.preco {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #8D6E63;
    margin: 15px 0;
}

.btn-comprar {
    background-color: #5D4037;
    color: white;
    border: none;
    padding: 12px 20px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-comprar:hover {
    background-color: #3e2723;
}


@media (max-width: 768px) {
    .btn-comprar {
        padding: 15px 20px; 
             
        font-size: 18px; 
       }

    .btn-comprar:active {
        background-color: #3e2723;
        transform: scale(0.98); 
    }
}