.pao{
    font-family: "Parisienne", cursive;
    display: flex;
    flex-direction: row; /* Alinha os filhos em linha */
    width: 100%;
    height: 100vh;
    margin: 0;
       }


.imagem{
    width: 50%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/03/58/58/03585865aecc92c6fb0b86399177509d.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Faz a imagem preencher todo o espaço da div */
}   
 
.texto{
    width: 50%;
    display: flex;
    flex-direction: column; /* Coloca o H1 em cima do P */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;    /* Centraliza horizontalmente */
    text-align: center;
    padding: 20px;

}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    height: 60vh;
    gap: 20px;
   
 
}

.item{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 200px;
    border:1px solid black;
    color: brown;
    font-size: 24px;
    font-weight: 700;
    font-family: "Parisienne", cursive;
    
}

.item{
    background-image: url(https://receitasbrasileira.com.br/storage/2024/12/Pao-Caseiro-Como-Fazer-Pao-Fofinhos-e-Massas-Perfeitas-1024x683.jpeg);
     height: 50vh;

}

.item_1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 200px;
    border:1px solid black;
    color: brown;
    font-size: 24px;
    font-weight: 700;
    font-family: "Parisienne", cursive;
    
}

.item_1{
    background-image: url(https://receitasbrasileira.com.br/storage/2024/12/Pao-Caseiro-Como-Fazer-Pao-Fofinhos-e-Massas-Perfeitas-1024x683.jpeg);
     height: 50vh;


 

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h1 + p {
    color: brown;
    font-size: 24px;
    font-weight: 400;
    font-family: "Parisienne", cursive;
}


h2{
    color: brown;
    font-size: 24px;
    font-weight: 700;
    font-family: "Parisienne", cursive;
}
  
p{

}
}


img{
    width: 200px;
    height: auto;
}